<%= form_for @category , :html=>{:multipart=> true} do |f| %>
  <% if @category.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@category.errors.count, "error") %> prohibited this category from being saved:</h2>

      <ul>
      <% @category.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
<table border="0">
  <div class="field">
    <tr>
      <td><%= f.label :name %> </td>
    <td><%= f.text_field :name %></td>
      </tr>
  </div>
  <div class="field">
    <tr>
    <td><%= f.label :category_type %> </td>
    <td><%= f.text_field :category_type %></td>
    </tr>
  </div>

  <div class="field">
    <tr>
      <td><%= f.label :category_number %> </td>
    <td> <%= f.text_field :category_number %></td>
    </tr>
  </div>

<div class="field">
  <tr>
    <td> <%= f.label :email %> </td>
    <td> <%= f.text_field :email %></td>
  </tr>
  </div>

  <div class="field">
    <tr>
       <td> <%= f.label :photo %> </td>
      <td>  <%=  f.file_field :photo%></td>
  </div>
  </tr>
  </table>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
