<%= form_for @product , :html=>{:multipart=> true} do |f| %>
  <% if @product.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@product.errors.count, "error") %> prohibited this product from being saved:</h2>

      <ul>
      <% @product.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %> :
    <%= f.autocomplete_field :name , autocomplete_brand_name_products_path , :placeholder => "Enter the product name"%>
  </div><br />
  <div class="field">
    <%= f.label :date %> :
    <%=f.text_field :date, :id=>'demo1',:size=>15 %>
    <a href="javascript:NewCal('demo1','ddmmyyyy')">
      <img src="/images/calendar.gif" width="16" height="16" border="0" alt="Pick a date">
    </a>
  </div><br />
  <div class="field">
    <%= f.label :price %> :
    <%= f.text_field :price  , :placeholder => "Type Product price in Rupees" %>
  </div>
<br />
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>

<!--
<script>
  $(function() {
    $('#date').datepicker();
});
</script>
-->