<%= link_to "Booking Master", ticket_booking_master_products_path  %>
<br/><br/>
<fieldset style="width: 450px">
  <legend>Online Booking</legend>
  <div align="left">
<%=  form_tag bus_search_products_path,  :remote => true  do %>
 <%#=  form_tag   :url => {:action => 'bus_search'}, :remote => true, :method => :get do %>
<%=  label_tag :from%>
<%#= text_field_tag :from , nil, :size=>13,:placeholder => 'starting point' %>    
 <%#= collection_select :city_id, City.all, 'id', 'name', options={:prompt => 'Select'},{:class => 'size45',:tabindex => "14"} %>
<%= select_tag(:city_from_id , options_from_collection_for_select(@city,'id','name'), {:include_blank => 'Departure' }) %>
<%= label_tag :to%>
<%#= text_field_tag :to , nil, :size=>13, :placeholder => 'destination point'%>
 <%= select_tag "city_to_id",options_from_collection_for_select(@city, 'id','name') , {:include_blank => 'Destination' }%>
<%end%>
</div>
  <br/>
  <div align="left">
<%= label_tag :onward %>
    <%=  text_field_tag :onward, nil ,:size=>13, :value => Date.today %>
    <a href="javascript:NewCal('onward','ddmmyyyy')">
      <img src="/images/calendar.gif" width="16" height="16" border="0" alt="Pick a date">
    </a>
<!--
<%= label_tag :return %>
    <%= text_field_tag :return, nil ,:size=>13 %>
    <a href="javascript:NewCal('return','ddmmyyyy')">
      <img src="/images/calendar.gif" width="16" height="16" border="0" alt="Pick a date">
    </a>
-->
<br/><br/>
</div>

<div align="left">
  No. of Passengers : <%= select_tag "passenger", "<option>1</option><option>2</option><option>3</option><option>4</option><option>5</option>".html_safe %>
</div>
  <br/>
  <div align="center">
    <%=submit_tag 'Search services' , :id=>'search_bus_services' %>
    <span id="shift_loader1" style="display: none;" valign="top" align="right"><img src="/images/ajax-loader2.gif" alt="ajax_loader.gif"/></span>
  </div>

  </fieldset>

<div id='add_list' ></div>   

<!--
<script type="text/javascript">
  $(document).ready( function(){  
    $('#search_bus_services').click(function(){
   // $('search_bus_services').observe('click',function(event){
      var pars = "from="+$("#city_from_id option:selected").text()+"&to="+$("#city_to_id option:selected").text();      
      //ajax_loader('add_list', '/products/view_bus_services', pars, 'shift_loader1');
      ajax_loader('add_list', 'view_bus_services', pars)
     
    });
  });

</script>
-->

<script>
	 $('search_bus_services').observe('click', function(event)
	 {           
                        //var pars = "from="+$("#city_from_id option:selected").text()+"&to="+$("#city_to_id option:selected").text();
			//var pars = "from="+$F("city_from_id")+"&to="+$F("city_to_id");
                        if ((document.getElementById("city_from_id").options[document.getElementById("city_from_id").selectedIndex].text) != "Departure" && (document.getElementById("city_from_id").options[document.getElementById("city_from_id").selectedIndex].text) != "Destination")
                          {
                        var pars = "from="+(document.getElementById("city_from_id").options[document.getElementById("city_from_id").selectedIndex].text)+"&to="+(document.getElementById("city_to_id").options[document.getElementById("city_to_id").selectedIndex].text)+"&onward="+($F("onward")+"&passenger="+(document.getElementById("passenger").options[document.getElementById("passenger").selectedIndex].text));
                        ajax_loader('add_list', 'view_bus_services', pars, 'shift_loader1');
                          }
                       else
                         {
                           alert("Select Departure and Destination...");
                         }
		
	 });


</script>