
<fieldset style="width: 450px">
  <legend>Online Booking</legend>
  <div align="left">
<%=  form_tag bus_search_products_path ,:remote => true do %>
 <%#=  form_tag   :url => {:action => 'bus_search'}, :remote => true, :method => :get do %>
<%=  label_tag :from%>
<%= text_field_tag :from , nil, :size=>13,:placeholder => 'starting point' %>
<%= label_tag :to%>
<%= text_field_tag :to , nil, :size=>13, :placeholder => 'destination point'%>
<%end%>
</div>
  <br/>
  <div align="left">
<%= label_tag :onward %>
    <%=  text_field_tag :onward, nil ,:size=>13 %>
    <a href="javascript:NewCal('onward','ddmmyyyy')">
      <img src="/images/calendar.gif" width="16" height="16" border="0" alt="Pick a date">
    </a>
<!--
<%= label_tag :return %>
    <%= text_field_tag :return, nil ,:size=>13 %>
    <a href="javascript:NewCal('return','ddmmyyyy')">
      <img src="/images/calendar.gif" width="16" height="16" border="0" alt="Pick a date">
    </a>
-->
<br/><br/>
</div>

<div align="left">
  No. of Passengers : <%= select_tag "passenger", "<option>1</option><option>2</option><option>3</option><option>4</option><option>5</option>".html_safe %>
</div>
  <br/>
  <div align="center" id="search_ticket">
    <%= submit_tag "Search services" %>
  </div>
  
  </fieldset>


<script>
  
</script>