<!DOCTYPE html>
<html>
  <head>
    <title><%= yield(:title) || "Srinivasan" %></title>
    <%= stylesheet_link_tag "application" %>
    <%= javascript_include_tag "datetimepicker.js" , "jquery-1.4.2.min.js" %>
	

    <%= csrf_meta_tag %>
    <%= yield(:head) %>
  </head>
  <body>
    <div id="container">      
    <div id="header">
      <div id="menu">
        <ul>
	   
        <%= link_to "Home" , root_url %> &nbsp; | &nbsp;
          <%= link_to 'About Us' , about_products_path %> &nbsp; | &nbsp;
          <%= link_to 'Contact' , contact_products_path %> &nbsp; &nbsp;  &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
          <%= link_to 'Category' ,  categories_path %> &nbsp; | &nbsp;
          <%= link_to 'Product', products_path %> &nbsp; | &nbsp;
          <%= link_to 'Ticket Booking', bus_search_products_path %>
        </ul>
      </div>
<br/>
    </div>
      <br/>
      <% flash.each do |name, msg| %>
        <%= content_tag :div, msg, :id => "flash_#{name}" %>
      <% end %>
      <%= content_tag :h1, yield(:title)  %>
      <%= yield %>
    </div>
  </body>
</html>
